body {
    height: 100vh;
    padding-top: 2.5rem;
    overflow-x: hidden;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
#wrapper {
    height: 100%;
}
#navheader {
    height: 2.5rem;
}
#navheader .iconbtn {
    color: white;
}
#sidebar {
    height: 100%;
    transition: all 0.25s;
    overflow-y: hidden;
}
#sidebar-container {
    height: 100%;
}
#sidebar-menu {
    width: 15rem;
    padding-top: 0.7rem;
}
#sidebar-profile {
    padding: .5rem 1rem;
    transition: all .1s;
    width: 15rem;
}
#page-content-wrapper {
    height: 100%;
}
#content {
    padding: 0;
    display: flex;
    flex-direction: column;
}
#content-header {
    height: 100%;
    padding: 0;
    position: relative;
    background-color: #2eb210;

}
#terminal {
    padding: 0;
    touch-action: none;
    background-color: #b21010;
    min-height: 2px;
    margin-top: auto;
    height: 100%;
}
.tpanel {
    margin-left: 0;
}
.bottom-item {
    margin-top: auto;
}
.gutter {
  width: 10px;
  height: 100%;
  background: #666;
  position: absolute;
  top: 0;
  left: 0;
  cursor: col-resize;
}