@import "~bootstrap-icons";
@import "~font-awesome";
body {
    height: 100vh;
    padding-top: 2.5rem;
    overflow-x: hidden;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
#wrapper {
    height: 100%;
}
#navheader {
    height: 2.5rem;
    z-index: 1000;
    box-shadow: 0 15px 10px -15px #111;
}
#navheader .iconbtn {
    color: white;
}
#sidebar {
    height: 100%;
    transition: all 0.25s;
    box-shadow: 15px 0 10px -15px #111;
    z-index: 1000;
}
#sidebar-container {
    height: 100%;
}
#sidebar-menu {
    width: 15rem;
    padding-top: 0.7rem;
}
#sidebar-profile {
    padding: .5rem 1rem;
    transition: all .1s;
    width: 15rem;
}
#page-content-wrapper {
    height: 100%;
}
#content-wrapper {
    padding: 0;
}
#content {
    padding: 0.75rem;
    background-color: white;
    margin-left: 0;
    z-index: 0;
}
