#terminal {
    padding: 0;
    touch-action: none;
    background-color: #b21010;
    min-height: 2px;
    margin-top: auto;
    height: 100%;
}
.tpanel {
    margin-left: 0;
}
.bottom-item {
    margin-top: auto;
}
.gutter {
  width: 10px;
  height: 100%;
  background: #666;
  position: absolute;
  top: 0;
  left: 0;
  cursor: col-resize;
}