<!DOCTYPE html>
{% load webpack_static render_bundle from webpack_loader %}
{% load static i18n core %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'en_us' }}">
<head>
  {% block preload_outer %}
    {% render_bundle 'base' is_preload=True attrs='async'%}
    {% block preload %}{% endblock %}  
  {% endblock preload_outer %}
  {# -- Page title -- #}
  {% block title_outer %}
    <title>
      {% block title %}AHS{% endblock %}
      {% block page_name %}{% endblock %}
    </title>
  {% endblock %}
  {# -- Required meta tags -- #}
  {% block meta_outer %}
    <link rel="icon" href="{% webpack_static 'favicon.ico' %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% endblock %}
  {% block stylesheets_outer %}
      {% block stylesheets %}{% endblock %}
  {% endblock %}
  {% block javascript_head %}{% endblock %}
  {% block extra_head %}{% endblock extra_head %}
  {{ AHS_SERIAL_USER|json_script:"user-data" }}
  {% render_bundle 'base' %}
</head>
<body class="">
{# -- ends before body close tag -- #}
{% block full_body %}
{# -- ends after footer, all scripts included -- #}
{% block body %}
<div id="wrapper" class="container-fluid">
  {# -- NavBar -- #}
  {% navbar id='navheader' fixed=True %}
  {% block page_content_wrapper %}
  <main id="page-content-wrapper" class="row flex-nowrap">
  {# -- SideBar -- #}
  {% block sidebar %}{% include 'lib/_sidebar.html' %}{% endblock %}
  <div id="content-wrapper-outer" class="container">
    {% block content_wrapper %}
    {# -- ContentWrapper (Everything under navbar and right of sidebar)-- #}
    <div id="content-wrapper" class="container-fluid">
      {% block content_wrapper_inner %}
        <div id="content">
          {% block content_inner %}{% endblock %}
        </div>
      {% endblock content_wrapper_inner %}    
    </div>
    {% endblock content_wrapper %}
  </div>
  </main>
  {% endblock %}
</div>
{% endblock body %}
{# -- scripts and other body elements here -- #}
{% block javascript_bottom %}
{% block js %}{% endblock %}
  {% if user and user.is_superuser %}
    {% block admin_js %}{% endblock %}
  {% endif %}  
{% endblock %}
{% block extra_script %}{% endblock %}
{% block extra_foot %}{% endblock %}
{% endblock full_body %}
</body>
</html>
