{% load webpack_static from webpack_loader %}
<!DOCTYPE html>

{% load static i18n core bootstrap5 %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE|default:'en_us' }}">
<head>
    {# -- Page title -- #}
    {% block title_outer %}
        <title>{% block title %}Website{% endblock %}</title>
    {% endblock %}

    {# -- Required meta tags -- #}
    {% block meta_outer %}
        <link rel="icon" href="{% webpack_static 'favicon.ico' %}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}

    {% block stylesheets_outer %}
        {% include 'lib/styles.html' %}
        {% block stylesheets %}{% endblock %}
    {% endblock %}
    {% block javascript_head %}{% endblock %}
    {% block extra_head %}{% endblock extra_head %}
</head>
<body class="">
  <noscript>You need to enable JavaScript to run this app.</noscript>
{# -- ends before body close tag -- #}
{% block full_body %}
{# -- ends after footer, all scripts included -- #}
{% block body %}
<div id="wrapper" class="container-fluid">
  {# -- NavBar -- #}
  {% navbar mode='dark' id='navheader' fixed=True %}
  {% block content_wrapper %}
  <main id="page-content-wrapper" class="row flex-nowrap">
    {# -- SideBar -- #}
    {% if user.is_authenticated %}
      {% block sidebar %}{% endblock %}
    {% endif %}
    {# -- Content -- #}
    <div id="content" class="container">
      <div id="content-header" class="container-fluid tpanel">
          {% block content %}cOnTNENT{% endblock %}
      </div>
      {% if user.is_authenticated %}
          {% include 'lib/_terminal.html' %}
      {% endif %}
    </div>
  </main>
  {% endblock content_wrapper %}
</div>
{% endblock body %}
{# -- Add your scripts and other body elements here -- #}
{% block javascript_bottom %}
    {% include 'lib/scripts/scripts_bottom.html' %}
    {% block js %}{% endblock %}
{% endblock %}
{% block extra_script %}{% endblock %}
{% block extra_foot %}{% endblock %}
{% endblock full_body %}
</body>
</html>
